__pycache__/
workDir/
*.pyc
myConfig.ini
myCyberPhys.ini
core
*.mypy_cache/
.DS_STORE
.idea/
fett/cwesEvaluation/*/*.als
fett/cwesEvaluation/*/*.map

# CI Gitignores
ci/userdata.txt
ci/results.txt
ci/aws-test-suite.log
fett-ci.log
aws-test-suite.log
results.txt
