__pycache__/
workDir/
*.pyc
myConfig.ini
myCyberPhys.ini
core
*.mypy_cache/
.DS_STORE
.idea
.vscode
fett/cwesEvaluation/*/*.als
fett/cwesEvaluation/*/*.map
fett/target/utils/uartDevicesMap.json

# CI Gitignores
aws-pseudo-ci.log
results.txt
userdata.txt
fett-ci.log

#CyberPhys
*.elf
*.asm
*.o
*.bin
fett/cyberPhys/hacking/j1939hack/main.h