__pycache__/
workDir/
*.pyc
myConfig.ini
myCyberPhys.ini
core
*.mypy_cache/
.DS_STORE
.idea
.vscode
besspin/cwesEvaluation/*/*.als
besspin/cwesEvaluation/*/*.map
besspin/target/utils/uartDevicesMap.json

# CI Gitignores
aws-pseudo-ci.log
results.txt
userdata.txt
besspin-ci.log

#CyberPhys
*.elf
*.asm
*.o
*.bin
besspin/cyberPhys/hacking/j1939hack/main.h