recursive-include cyberphyslib/demonstrator/utils *.csv
recursive-include cyberphyslib/demonstrator/utils *.conf
recursive-include cyberphyslib/demonstrator/utils *.json
recursive-include cyberphyslib/demonstrator/utils *.exe
