[Unit]
Description=Can Display Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/usr/bin/env python3 /home/pi/BESSPIN-Tool-Suite/besspin/cyberPhys/ui/can-display/can-display.py

[Install]
WantedBy=multi-user.target
