[Unit]
Description=Hacker Kiosk Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/usr/bin/env python3 /home/galoisuser/BESSPIN-Tool-Suite/besspin/cyberPhys/ui/hacker-kiosk/kiosk-backend.py

[Install]
WantedBy=multi-user.target
