[Unit]
Description=Hacker Kiosk UI 
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="DISPLAY=:0"
Environment="XAUTHORITY=/home/pi/.Xauthority"
Type=simple
Restart=always
RestartSec=10
User=galoisuser
WorkingDirectory=/home/galoisuser/build/BESSPIN-Tool-Suite/besspin/cyberPhys/ui/hacker-kiosk
ExecStart=/home/galoisuser/.nvm/versions/node/v14.15.0/bin/npm run electron:serve

[Install]
WantedBy=multi-user.target
