[Unit]
Description=Infotainment Service
After=network.target
StartLimitIntervalSec=0

[Service]
Environment="DISPLAY=:0"
Type=simple
Restart=always
RestartSec=10
User=pi
ExecStart=/home/pi/deploy/infotainment-0.1.0-armv7l.AppImage

[Install]
WantedBy=multi-user.target
